.no-js body {
  background: #fe4940;
  color: #fff;
}

body {
  margin: 3rem 3.5rem;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

ul {
  padding-left: 1em;
}

li {
  margin-bottom: 0.3em;
}

.container {
  min-width: 450px;
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
}

.show-hide-button {
  margin-bottom: 20px;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-weight: 200;
}

/* card 상태 클래스 */
/* SMACSS, BEM, OOCSS */

.card {
  margin-bottom: 20px;
}

.card-header-title {
  font-weight: 300;
}

.is-hidden {
  display: none;
}
.is-visible {
  display: block;
}
.is-transparent {
  opacity: 0;
}
